name: Build macOS DMG

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Build DMG
        run: electron-builder -mwl

      - name: Upload DMG
        uses: actions/upload-artifact@v3
        with:
          name: myapp.dmg
          path: dist-electron/release/myapp.dmg
