name: Build macOS DMG

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Install electron-builder
        run: npm install -g electron-builder

      - name: Remove app-builder-bin
        run: rm -rf node_modules/app-builder-bin

      - name: Install app-builder-bin
        run: npm install

      - name: Build DMG
        run: electron-builder -mwl

      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: myapp.dmg
          path: dist-electron/release/Vault.dmg
